h1 {
  color: navy;
}

#editor-div {
  font-family: 'Courier Prime';
  font-weight: normal;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('../fonts/courier-prime.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('../fonts/courier-prime-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('../fonts/courier-prime-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('../fonts/courier-prime-bold-italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

#toolbar {
  padding: 20px 0px 20px 0px;
  margin: 0px 0px 20px 0px;
  border-bottom: solid 1px #EAEAEA;
}

h2 {
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: right !important;
}

h3 {
  font-size: 16px !important;
  font-weight: bold !important;
  background-color: #EFEFEF !important;
  border-radius: 4px !important;
  padding: 10px 10px 5px 10px !important;
  margin: 0px -10px 15px -10px !important;
}

h4 {
  font-size: 16px !important;
  font-weight: bold !important;
  margin: 0px !important;
}

.dialogue {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.parenthetical {
  margin: 0px !important;
}
